.main{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    background-color: #EFF2F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h2{
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 150%;
        color: #3A7859;
        margin-top: 134px;
    }

    .questionType{
        display: none;
    }

    .categoryTitle{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;
        margin-top: 146px;
    }

    .categorySelectorPart{
        margin-top: 36px;
        width: 320px;
        position: relative;
        z-index: 5;

        .categorySelector{
            width: 100%;
            min-height: 56px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
            border-radius: 18px;
            border: 2px solid #E7EBF1;
            box-sizing: border-box;
            cursor: pointer;
            color: #9EA0A4;

            p{
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 170%;
                
                margin-left: 16px;
            }

            .icon{
                fill: #9EA0A4;
                transform: rotate(-90deg);
                margin-right: 21.5px;
                font-size: 18px;
                transition: 0.2s;
            }

            .iconRotated{
                transform: rotate(90deg);
            }
            .iconBlack{
                fill: black;
            }
        }

        .categorySelectorActive{
            border: 2px solid #95B6A9;
            background: #F6F7F8;
            color: black !important;
        }

        .categorySelectorOptions{
            position: absolute;
            top: calc(100% + 6px);
            display: flex;
            opacity: 0;
            flex-direction: column;
            width: 100%;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
            border-radius: 18px;
            border: 2px solid #E7EBF1;
            box-sizing: border-box;
            cursor: pointer;
            transition: 0.5s;
            background-color: #F6F7F8;
            padding: 10px;
            max-height: 300px;
            overflow-y: auto;

            .option{
                padding-left: 18px;
                margin-bottom: 4px;
                padding-top: 6px;
                padding-bottom: 8px;

                &:hover{
                    background-color: #E7EBF1;
                    color: #3A7859;
                    border-radius: 16px;
                }
                
                p{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 170%;
                }
            }
        }
        .categorySelectorOptionsActive{
            opacity: 1;
        }
    }

    .start{
        z-index: 4;
        background-color: #F6F7F8;
        border-radius: 18px;
        width: 155px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 99px;
        transition: 0.2s;

        p{
            margin-top: 16px;
            margin-bottom: 18px;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */


            color: #C4C4C4;

        }
    }

    .startActive{
        background-color: #3A7859;

        p{
            color: white !important;
        }
    }

}